site_name: Pruebas
site_url: https://example.com/

#repository
repo_name: Erick55555/pruebas_mkdocs
repo_url: https://github.com/Erick55555/pruebas_mkdocs/
      
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: es
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra:
  version:
    provider: mike

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

plugins:
  - search
  - i18n:
      default_language: !ENV [DEFAULT_LANGUAGE, "en"]
      default_language_only: !ENV [DEFAULT_LANGUAGE_ONLY, false]
      docs_structure: suffix
      languages:
        default:
          name: Default (en)
          build: true
        en:
          name: English
          build: true
        es:
          name: Spanish
          build: true
        ca:
          name: Catalan
          build: true
        eu:
          name: Euskera
          build: true
  - page-to-pdf
  - mike
